html{
    font-size: 1em;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Times New Roman";
}


        /*GENERAL HOMEPAGE*/


#header{
    border-bottom: 4px solid #fff;
    min-height: 120px;
    display: block;
    margin: 0;
    padding: 5px 0 0 10px;
    overflow: auto;
    background: #0c3b79;
    color: #fff;
}

#header div img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 0;
    float: left;
    display: inline;
}

#header h2{
    margin: 15px 0 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
#header h3{
    margin: 15px 0 0 0;
    padding: 0;
    text-align: center;
}

#header_nav{
    margin-left: 40px;
    padding: 2px;
    float: left;
    font-size: 1.5em;
}

#header_nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#header_nav ul li{
    margin: 0;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
}

#header_nav ul li a{
    color: #fff;
}

#header #header_aside{
    margin-right: 20px;
    float: right;
    font-size: 1em;
}

#header_aside #motto{
    font-family: cursive;
    text-transform: lowercase;
}

#header_aside div{
    margin: 0;
    padding: 2px 5px 0 0;
    overflow: none;
    background: white;
    color: #000000;
    text-align: right;
    font-size: 16px;
}

#body{
    margin: 0;
    padding-top: 0;
    height: 100%;
    display: block;
    position: relative;
    background-image: url("../imgs/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nav_pics {
    margin: 0;
    padding: 10px;
    min-height: 150px;
    display: block; 
    align-items: center;
    justify-content: center;
    background-image: url("../imgs/back2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.7s ease-in-out;
}

@media(min-width: 1500px) {
#nav_pics div {
    width: 100%;
    background-color: #fff;
    display: block;
    float: right;
}
.top_nav {
    width: 45%;
}
}

.top_nav {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    list-style-type: none;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.top_nav a {
    text-decoration: none;
    color: #0c3b79;
}

.top_nav a li {
    margin: 2px 1px;
    padding: 5px 2px;
    border-radius: 2px;
    background: #e0e0e0;
    color: #0c3b79;
    font-weight: 700;
}

.intro_box{
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #8d8d8d;
    width: 60%;
    overflow: auto;
    display: block;
    justify-content: center;
    align-self: center;
    background-color: #fff;
    color: #000000;
}
.intro_box p{
    text-align: center;
}
.intro_box h4{
    text-align: center;
}
.blue {
    color: #0c3b79;
}

.article-container {
    margin: 10px;
    display: block;
}
.article-container-2 {
    margin: 10px;
}

.article {
    margin: 10px 2px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px #72858a;
    text-align: center;
    color: #0c3b79;
}

.article .article-logo {
    margin: 2px auto;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.article .links-content {
    font-size: 12px;
    font-weight: 300;
}

.article p img {
    margin: 5px;
    padding: 0;
    width: 100px;
    height: 100px;
    float: left;
}

@media(min-width: 1500px) {
    
.article-container .article {
    margin: 10px 2px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px #72858a;
    display: inline-block;
    width: 31.5%;
    overflow: auto;
    text-align: center;
    color: #0c3b79;
}
    
.article-container .article p img {
    width: 50%;
    height: 120%;
}
    
.article-container figure {
    margin: 10px 2px;
    padding: 0;
    border: 3px solid #ec5252;
    border-radius: 5px;
    box-shadow: 0 0 5px #72858a;
    width: 31.5%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #7ae4ff;
}

}
@media(max-width: 1500px) {
    
.article-container figure {
    margin: 10px 2px;
    padding: 0;
    border: 3px solid #ec5252;
    border-radius: 5px;
    box-shadow: 0 0 5px #72858a;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #7ae4ff;
}

}
.article-container figure img {
    margin: 10px auto;
    padding: 0;
    border: 2px solid #ec5252;
    border-radius: 50%;
    box-sizing: border-box;
    width: 60%;
    display: flex;
    align-self: center;
}
.article-container figure figcaption {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #72858a;
    width: 70%;
    display: block;
    background: #fff;
}

.article div ul li {
    text-align: left;
    font-family: Monospace;
}

@media(min-width: 1500px){

.article-container-2 {
    margin: 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
}

.box-b-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.box-b-2 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.box-b-3 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.box-b-4 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.box-b-5 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.box-b-6 {
    grid-column: 3/4;
    grid-row: 3/4;
}
.box-b-7 {
    grid-column: 2/3;
    grid-row: 1/4;
}

.article .article-logo {
    font-size: 100px;
}

}

.home_buttons {
    margin: 2px auto;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0 0 5px #8d8d8d;
    overflow: auto;
    display: inline-block;
    align-self: center;
    background: #0080c6;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}


@media(min-width: 600px){
#nav{
    margin: 60px auto;
    padding: 20px 50px;
    border-radius: 5px;
    box-shadow: 0 0 5px #72858a;
    width: 50%;
    overflow: auto;
    display: block;
    justify-content:center;
    position:relative;
    align-self: center;
    background: #7ae4ff;
}

#nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#nav div .nav_box{
    margin:15px 10%;
    padding: 20px;
    border: 3px solid #0c3b79;
    border-radius: 5px;
    box-shadow: 0 0 5px #72858a;
    width: 22%;
    height: 180px;
    overflow: hidden;
    display:flex;
    float:left;
    background: #fff; 
    color: #0c3b79;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    word-wrap:break-word;
}
}

#nav div .left{
    float: left;
}
#nav div .right{
    float: right;
}
#nav div .nav_box:hover{
    border: 2px solid #fff;
    background: #0c3b79;
    color: #fff;
}

#nav div .nav_box i{
    font-size: 80px;
}

.flex-container {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.flex-box {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #8d8d8d;
    width: 40%;
    max-width: 400px;
    background: #fff;
    display: inline-block;
    align-items: center;
    overflow: auto;
}
.flex-box h3 {
    border-bottom: 2.5px solid #ec5252;
}
.flex-box ul {
    list-style-type: square;
    padding: 5px;
    margin: 5px;
    line-height: 1.5;
    font-size: 14px;
}
.flex-box ul li a{
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    color: #0c3b79;
    background: #cdcdcd;
    border: 1.5px solid #fff;
}
.flex-box ul li a:hover{
    border: 1.5px solid #ec5252;
}
.flex-box ul li a .fa-angle-double-right {
    color: #ec5252;
}
@media(max-width:1500px){
.nav2 {
    margin: 5px 0;
    padding: 0 20px;
}
.nav2 span {
    margin: 0;
    padding: 20px 0;
    color: #0c3b79;
    font-size: 25px;
    font-weight: 600;
}
.nav2 i {
    float: left;
    color: #ec5252;
    font-size: 20px;
}
.nav2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav2 ul a {
    list-style-type: none;
    margin: 5px auto;
    padding: 10px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8d8d8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    color: #0c3b79;
    font-weight: 600;
    text-decoration: none;
}
.nav2 ul a:hover {
    border: 2px solid #0c3b79;
}
.nav2 ul a li img {
    width: 60px;
    height: 60px;
}
.nav2 ul a li i {
    color: #ff9700;
}
}
@media(min-width:1500px){
.nav2 {
    margin: 5px 0;
    padding: 0 20px;
}
.nav2 span {
    margin: 0;
    padding: 20px 0;
    color: #0c3b79;
    font-size: 25px;
    font-weight: 600;
}
.nav2 i {
    float: left;
    color: #ec5252;
    font-size: 20px;
}
.nav2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
}
.nav2 ul a {
    list-style-type: none;
    margin: 5px auto;
    padding: 10px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8d8d8d;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    color: #0c3b79;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.nav2 ul a:hover {
    border: 2px solid #0c3b79;
}
.nav2 ul a li {
    width: 100%;
    display: block;
    text-align: center;
}
.nav2 ul a li img {
    margin: 20px auto;
    width: 60%;
    display: block;
}
.nav2 ul a li i {
    color: #ff9700;
}
}

.hr {
    margin: 10px;
    padding: 1.0px;
    background: #ec5252;
}

section marquee{
    margin-top: 10px;
}

#footer{
    background: #35424a;
    padding: 2px;
    margin: 0;
    overflow: auto;
    width: auto;
    font-size: 14px;;
}

.footer-grid {
    margin: 5px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

#footer .footer-grid ul li{
    list-style-type: none;
    margin: 5px 5%;
}

#footer p{
    margin: 5px;
    padding: 0;
    text-align: center;
    color: #fff;
}

.footer-socials {
    margin: 10px auto;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-socials a {
    margin: 0 5px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px #8d8d8d;
    width: 20px;
    height: 20px;
    display: inline-block;
    align-items: center;
    text-align: center;
    background: #fff;
    text-decoration: none;
    font-size: 20px;
}
.footer-socials a:first-child{
    color: #00b3df;
}
.footer-socials a:second-child{
    color: #0c3b79;
}
.footer-socials .yout{
    color: #ff0000;
}
.footer-socials .inst{
    color: #ff00d9;
}

.caps{
    text-transform: uppercase;
}
.right{
    float: right;
}

.button1{
    padding: 10px;
    margin: auto;
    display: block;
    border-radius: 5px;
    background: #0c3b79;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button2{
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    float: right;
    border-radius: 5px;
    background: #0c3b79;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button_null {
    margin: 0;
    padding: 0;
    border: 0;
    display: inline;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}

.button3 {
 	margin: 0;
 	padding: 5px;
 	border-radius: 3px;
 	float: right;
 	color: #fff;
    background: #23a900;
    font-size: 16px;
}

.button4{
    margin: 0 2px;
    padding: 3px 2px;
    border-radius: 5px;
    float: right;
    color: #fff;
    font-size: 12px;
}



        /*LOGIN PAGE*/


#form_1{
    margin: 0 auto 30px auto;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px #8d8d8d;
    width:300px;
    overflow: auto;
    display:block;
    align-self: center;
    text-align: left;
    background: #fff;
    color: #000000;
}

.form_inner{
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #8d8d8d;
    width: 60%;
    overflow: auto;
    display: block;
    justify-content: center;
    align-self: center;
    text-align: center;
    background: #fff;
    color: #000000;
}

#form_1 img{
    padding: 0;
    width: 300px;
    height: 120px;
    border-radius: 10px;
    background-image: url("../imgs/images\(7\).jpg");
}

#form_1 label{
    font-family:cursive;
    font-size:30px;
}

#form_1 form{
    padding:10px;
    width:180px;
}

#form_1 form input{
    border: 0;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid;
}

#form_1 form button{
    margin: 10px auto;
    border-radius: 5px;
    display: block;
    background:#0c3b79;
    color:white;
    width:80px;
    height:30px;
    cursor: pointer;
}

.form_2{
    margin: auto;
    justify-content: center;
    align-items: center;
    display: block;
}

.form_2 input{
    margin: auto;
    padding: 10px;
    border: 3px inset #0c3b79;
    border-radius: 5px;
    width: 40%;
    display: block;
    align-self: center;
}

.form_3{
    padding: 20px;
    font-family: Monospace;
    font-size: 16px;
}

.form_3 label{
    color: #0c3b79;
    font-weight: bold;
}

.form_3 input{
    margin: 5px auto 20px auto;
    padding: 5px;
    border: 1px solid #b8b8b8;
    box-shadow: 0 0 1px .5px #c6c8c8;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
}

.form_3 textarea{
    margin: 5px auto 20px auto;
    padding: 5px;
    border: 1px solid #b8b8b8;
    box-shadow: 0 0 1px .5px #c6c8c8;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
}





        /*SCHOOL HOMEPAGE*/
        
        
#body2{
    padding-top: 50px;
    height: 100%;
    display: block;
    position: relative;
    background-image: url("../imgs/back2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



        /*STUDENT PORTAL*/



#profile{
    display: block;
}

#profile img{
    margin: 3px 30px 3px 10px;
    width: 100px;
    height: 140px;
    float: left;
}

#profile div{
    display: inline;
    font-size: 15px;
    overflow: auto;
    text-align: left;
    line-height: 2;
}

#profile div label{
    color: #0c3b79;
    font-weight: bold;
}


        /*STUDENT ANNOUNCEMENT PORTAL*/
        
        
.content{
    margin: 20px 0;
	width: auto;
	padding: 5px 20px 30px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content  .content_box{
	padding: 10px 10px 20px 10px;
	border-radius: 5px;
	box-shadow: -.5px -.5px .5px #939393;
	max-width: 700px;
	width: 700px;
	overflow: auto;
	display: block;
	align-items: center;
    background: #fff;
}

.content_box .head{
    margin: 10px 0 30px 10px;
    color: #0c3b79;
    font-size: 25px;
}

.content_box .head .right{
    float: right;
    font-size: 13px;
    font-weight: normal;
    color: #000000;
}

.content_box ul{
    margin: 0;
    padding: 0;
}


.content_box ul li{
    margin: 0;
    padding: 10px 0;
    border-bottom: 1.5px solid #0c3b79;
    list-style-type: none;
    font-family: Monospace;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}

.content_box table{
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    font-family: Monospace;
}

.content_box table tr:first-child{
    color: #0c3b79;
    font-size: 14px;
}

.content_box table tr th{
    padding: 20px 0;
}

.content_box table tr td{
    padding: 20px 0;
    text-align: center;
}

.content_box table tr td:first-child{
    color: #0c3b79;
    font-weight: 900;
}

.content .content_box .content1{
    display: none;
    animation: fadeEffect 3s;
}

@keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}

.content .content_box #nav1{
    padding: 0 0 5px 10px;
    overflow: none;
    max-width: 2000px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    font-family: "Times New Roman";
}

.content .content_box #nav1 .tablink{
    margin: 2px;
    padding: 3px 2px;
    border: 2px solid #fff;
    border-radius: 3px;
    display: inline-block;
    background: rgb(146, 146, 146);
    cursor: pointer;
}

.content .content_box #nav1 .tablink:hover{
    border: 2px solid #0c3b79;
}

.content1{
    margin-top: 20px;
    overflow: none;
}

.current{
    color: #0c3b79;
    font-size: 25px;
    text-decoration: underline;
}



        /*TEACHER PAGES*/
        
        
.content_box .ul1{
    margin: 0;
    padding: 0;
}
        
.content_box .ul1 .day_box{
    text-decoration: none;
    color: #0c3b79;
}
        
.content_box .ul1 .day_box li{
    margin: 0;
    padding: 15px 10%;
    border-bottom: 2px solid #0c3b79;
    list-style-type: none;
    font-family: auto;
    font-size: 25px;
    font-weight: 500;
}

.ul1 .table_box{
    display: none;
}

.ul1 .table_box table{
   /* box-sizing: border-box;*/
    border-color: #0c3b79;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    font-family: Monospace;
}

.url .table_box table tr{
    border-bottom: 1px solid #0078ff;
}

.ul1 .table_box table tr th{
    padding: 15px 0;
}

.ul1 .table_box table tr td{
    padding: 0;
    text-align: center;
}

.ul1 .table_box table tr td input{
    margin: 0;
    padding: 5px 2px;
    width: 95%;
    height: 20px;
    overflow: auto;
    display: block;
    text-align: center;
    font-size: 16px;
}

.ul1 form table{
    border-color: #0c3b79;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    font-family: Monospace;
}

.datalist-test{
    margin: 5px 5% 30px 5%;
    padding: 5px;
    border: 2px inset #0c3b79;
    border-radius: 3px;
    width: 75%;
    overflow: auto;
    display: block;
    align-self: center;
}

.ul1 form table tr td{
    padding: 0;
    text-align: center;
}

.ul1 form table tr td input{
    margin: 0;
    padding: 5px 2px;
    width: 95%;
    height: 20px;
    overflow: auto;
    display: block;
    text-align: center;
    font-size: 16px;
}







@media(max-width:600px){
    #header{
        min-height: 50px;
        border-bottom: 2px solid #fff;
    }
    #header div img{
        height: 50px;
        width: 50px;
    }
    #header h2{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    #header h3{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    
    #header_aside{
        padding: 2px 5px;
        font-size: 15px;
    }
    
    #body{
        padding-top: 30px;
    }
    
    .intro_box{
        width: 75%;
    }
    
    #nav{
        margin: 30px auto;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px #72858a;
        width: 75%;
        overflow: auto;
        display: block;
        align-self: center;
        background: #7ae4ff;
    }
    
    #nav div{
        display: block;
    }
    
    #nav div .nav_box{
        margin: 5px 0;
        padding-top: 30px;
        border: 2px solid #0c3b79;
        border-radius: 5px;
        box-shadow: 0 0 5px #72858a;
        width: 45%;
        height: 120px;
        overflow: auto;
        display: block;
        background: #fff; 
        color: #0c3b79;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
    
    #nav div .nav_box i{
        font-size: 60px;
    }
    
    
    
    /*STUDENTS PORTAL*/
    
    
    #profile img{
        margin: 3px 5% 3px 3px;
        width: 60px;
        height: 80px;
    }
    
    #profile div{
        line-height: 1;
    }
    
    /*STUDENT ANNOUNCEMENT PAGE*/
    
    
    .content_box table tr th{
        padding: 10px 0;
    }

    .content_box table tr td{
        padding: 10px 0;
    }
}


.form_4{
    padding: 20px;
    overflow: auto;
    font-family: Monospace;
    font-size: 16px;
}

.form_4 label{
    margin: 2px 0;
    padding-left:20px;
	font-size:20px;
}

.form_4 input{
    margin: 10px 0;
	border:0;
    border-bottom:2px solid #0c3b79;
    box-sizing: border-box;
    width:100%;
    height:25px;
}
.form_4 #radio {
    display: flex;
}
.form_4 input[type="radio"] {
    display: inline-block;
    position: relative;
    top: -10px;
}

.form_4 input:hover{
    border: 2px inset #0c3b79;
    border-radius: 2px;
}

.form_4 textarea{
    margin: 10px 0;
    border:1px solid #0c3b79;
    border-radius:10px;
    width:100%;
}
.form_4 textarea:hover{
    border: 1px inset #0c3b79;
}

.form_4 select{
    margin: 10px 0;
	border: 0;
    border-bottom:1px solid;
    width:100%;
    height:25px;
    color:#0c3b79;
}

.class_box li{
    margin: 0;
    padding: 15px 10%;
    border-bottom: 2px solid #0c3b79;
    list-style-type: none;
    font-family: auto;
    font-size: 25px;
    font-weight: 500;
    color: #0c3b79;
}

.table_box{
    display: none;
}

/** CHANGE #ul1 to .ul1 **/